USE [master]
GO
/****** Object:  Database [sEbiletDB]    Script Date: 28.12.2025 21:47:41 ******/
CREATE DATABASE [sEbiletDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sEbiletDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sEbiletDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sEbiletDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sEbiletDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sEbiletDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sEbiletDB]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 28.12.2025 21:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Rol] [nchar](10) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[TcKimlikNo] [nvarchar](11) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Cinsiyet] [nvarchar](10) NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 28.12.2025 21:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[RezervasyonID] [int] IDENTITY(1,1000) NOT NULL,
	[YolcuID] [int] NOT NULL,
	[UcusNo] [nvarchar](10) NOT NULL,
	[KoltukNo] [nvarchar](5) NOT NULL,
	[OdenecekFiyat] [decimal](10, 2) NOT NULL,
	[RezervasyonTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Rezervasyonlar] PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucuslar]    Script Date: 28.12.2025 21:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucuslar](
	[UcusNo] [nvarchar](10) NOT NULL,
	[KalkisYeri] [nvarchar](50) NOT NULL,
	[VarisYeri] [nvarchar](50) NOT NULL,
	[KalkisZamani] [datetime] NOT NULL,
	[Kapasite] [int] NOT NULL,
	[BosKoltukSayisi] [int] NOT NULL,
	[TemelFiyat] [decimal](10, 2) NOT NULL,
	[DoluKoltuklar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ucuslar] PRIMARY KEY CLUSTERED 
(
	[UcusNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Rol], [Ad], [Soyad], [TcKimlikNo], [Telefon], [Cinsiyet]) VALUES (1, N'sevvvddee', N'0054', N'Admin     ', N'Admin                                             ', N'Kullanicisi                                       ', N'10463953416', N'5525090054', N'Kadın     ')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Rol], [Ad], [Soyad], [TcKimlikNo], [Telefon], [Cinsiyet]) VALUES (2, N'iyg', N'245424', N'Yolcu     ', N'yağmur                                            ', N'gürsu                                             ', N'10268960046', N'5396463654', N'Kadın     ')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Rol], [Ad], [Soyad], [TcKimlikNo], [Telefon], [Cinsiyet]) VALUES (3, N'ykbugra', N'0100', N'Yolcu     ', N'ahmet buğra', N'temiz', N'12345678910', N'5555555555', N'Erkek')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] ON 

INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [YolcuID], [UcusNo], [KoltukNo], [OdenecekFiyat], [RezervasyonTarihi]) VALUES (2001, 3, N'SE104', N'5A', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-12-16T22:45:48.300' AS DateTime))
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [YolcuID], [UcusNo], [KoltukNo], [OdenecekFiyat], [RezervasyonTarihi]) VALUES (3001, 4, N'AB321', N'20F', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-12-16T23:50:13.383' AS DateTime))
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [YolcuID], [UcusNo], [KoltukNo], [OdenecekFiyat], [RezervasyonTarihi]) VALUES (4001, 3, N'SE104', N'5A', CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-12-17T16:21:51.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] OFF
GO
INSERT [dbo].[Ucuslar] ([UcusNo], [KalkisYeri], [VarisYeri], [KalkisZamani], [Kapasite], [BosKoltukSayisi], [TemelFiyat], [DoluKoltuklar]) VALUES (N'AB321', N'İzmir (ADB)', N'Ankara (ESB)', CAST(N'2026-01-15T06:30:20.183' AS DateTime), 150, 149, CAST(100.00 AS Decimal(10, 2)), N'20F')
INSERT [dbo].[Ucuslar] ([UcusNo], [KalkisYeri], [VarisYeri], [KalkisZamani], [Kapasite], [BosKoltukSayisi], [TemelFiyat], [DoluKoltuklar]) VALUES (N'AH004', N'Balıkesir Koca Seyit (EDO)', N'Bursa (YEI)', CAST(N'2026-01-02T20:01:28.000' AS DateTime), 500, 499, CAST(1000.00 AS Decimal(10, 2)), N'27B')
INSERT [dbo].[Ucuslar] ([UcusNo], [KalkisYeri], [VarisYeri], [KalkisZamani], [Kapasite], [BosKoltukSayisi], [TemelFiyat], [DoluKoltuklar]) VALUES (N'BS777', N'İstanbul Sabiha Gökçen (SAW)', N'Rize-Artvin (RZV)', CAST(N'2026-01-28T22:00:48.000' AS DateTime), 300, 300, CAST(270.00 AS Decimal(10, 2)), N'')
GO
USE [master]
GO
